@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";
@import "~normalize.css/normalize.css";

@import "styles/bitters/base";
@import "styles/grid";
@import "styles/icons";

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: Roboto, sans-serif;
  color: #999;
}

body {
  background: #0e1114;
  margin: 0;
  padding: 0;
}

a {
  color: #ad48ff;
}

h1 {
  color: #616;
}

hr {
  border-color: #616;
}

ul {
  list-style: square;
  padding: 0.5rem;
  margin-left: 3vw;
}

.card {
  border: 2px #616 solid;
  background-color: #1b2025;
  padding: 20px;
  margin-bottom: 2vh;
}

button {
  border: 2px #616 solid;
  background-color: #1b2025;
}

.container {
  padding: 5vw;
  max-width: 800px;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

#appRoot {
  min-height: 100vh;
  > div {
    padding: 5vw;
  }
}
