@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto, sans-serif;
  color: #999;
}

body {
  background: #0e1114;
  margin: 0;
  padding: 0;
}

h1 {
  color: #616;
}

.card {
  display: inline-block;
  border: 2px #616 solid;
  background-color: #1b2025;
  padding: 20px;
  margin: 2vh;
}

.container {
  padding: 5vw;
  max-width: 800px;
}

.half-width {
  max-width: 50%;
}

.block {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

#appRoot {
  min-height: 100vh;
  > div {
    padding: 5vw;
  }
}
