// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "Roboto";
$heading-font-family: "Roboto";

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$purple: #751eff;
$pink: #6500FF;

$gray: #1b2025;
$dark: #0e1114;

// Font Colors
$base-font-color: $light-gray;
$action-color: $medium-gray;

// Border
$base-border-color: $purple;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $dark;
$secondary-background-color: $gray;

// Animations
$base-duration: 150ms;
$base-timing: ease;
