@import "../modules/all";
@import "base";

$small-font-size: 0.75em;

.badge {
  background-color: $purple;
  color: lighten($base-font-color, 50%);
  display: inline-block;
  font-size: $small-font-size;
  line-height: 1;
  padding: 0.4em 1.2em;
  margin: 0.4em;
}
