@import "../modules/all";
@import "base";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  @include prefixer(background-image, $base-background, ("webkit"));
  margin: 0;
  padding: 0;
}

#appRoot {
  min-height: 100vh;
}

.container {
  padding: 5vw;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.block {
  display: block;
}
