doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round')
    link(rel='preload', as='image', href='/me.png')
    link(rel='stylesheet', href='/style.css')
    link(rel='icon', sizes="500x500", href="/favicon.png")
    meta(name="theme-color", content="#0e1114")
  body
    block content
